<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <br><br>
      <!-- <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let number of numbers">
          <div
            *ngIf="onlyOdd"
            [ngClass]="{odd : false}"
            [ngStyle]="{backgroundColor: onlyOdd ? 'green' : 'yellow'}">
            {{ number }}
          </div>
        </li>
      </ul> -->
      <ng-template [ngIf]="onlyOdd"> <!-- structural directive -->
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style me with basic directive!</p>
      <!-- <p appBetterDirective [defaultColor]="'yellow'" [highlightColor]="'#f9f9f9'">Style me with better directive!</p> -->
      <p appBetterDirective defaultColor="yellow" highlightColor="#f9f9f9">Style me with better directive!</p> 위 라인과 같다
    </div>
    <div *appUnless="onlyOdd">
      <li class="list-group-item" *ngFor="let number of numbers">
        <div *ngIf="onlyOdd" [ngClass]="{odd : false}" [ngStyle]="{backgroundColor: onlyOdd ? 'green' : 'yellow'}">
          {{ number }}
        </div>
      </li>
    </div>
    <div [ngSwitch]="value">
      <p *ngSwitchCase="5">Value is 5</p>
      <p *ngSwitchCase="10">Value is 10</p>
      <p *ngSwitchCase="100">Value is 100</p>
      <p *ngSwitchDefault>Value is Default</p>
    </div>
  </div>
</div>
